---
language: haskell

ghc:
  - "8.6"
#  - "8.4"
#  - "8.2"
#  - "8.0"
#  - "7.10"

before_deploy: |
  if [[ $TRAVIS_HASKELL_VERSION == "8.6.5" ]]; then
    cabal install -f 'static'
    tar -C dist/build/dotenv -cvf dotenv-linux-x86_64-static.tar.gz dotenv
  fi

deploy:
  provider: releases
  api_key: "$GITHUB_TRAVIS_DEPLOY"
  file: "dotenv-linux-x86_64-static.tar.gz"
  skip_cleanup: true
  release_notes_file: "CHANGELOG.md"
  edge: true
  draft: true
  on:
    branch: release-with-notes
    condition: $TRAVIS_HASKELL_VERSION == "8.6.5"
    tags: false
